*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

body{
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    background-color: #fcffed;
}

.flex{
    display: flex;
}

#header{
    position: relative;
}

#title{
    padding: 25px 0 25px 0;
    border-bottom: 1px solid #3c3c3c;
}

/* #add-btn{
    position: absolute;
    bottom: 30px;
    right: 20px;
} */

#add-text{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 0.8rem;
    font-style: italic;
    height: 2rem;
    width: 60%;
}

#plus-icon{
    cursor: cell;
    font-size: 2rem;
}

.plus{
    
    height: 28px;
    color: #3df83d;
}

.input-container{
    margin: 25px 0 10px 0;
    align-items: center;
    justify-content: space-between;
}

.container{
    text-align: left;
    padding-left: 25px;
    margin: 20px 5rem;
}

.to-do-item{
    border-bottom: 1px solid #3c3c3c;
    padding: 10px 0;
}

.txt-decoration{
    text-decoration: line-through;
}